
<div class="row">
    <h1>Proyectos Realizados</h1>

        <div class="container__card">
            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/learningOnline1.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Learning Online</h1>
                            </div>                    
                        </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Learning Online</h2>
                                    <h5>Carrito de Compras</h5>
                                    <hr>
                                    <p>Proyecto desarrollado con HTML5 para el maquetado, CSS3 para aplicar diferentes estilos en cada sección, y JAVASCRIPT para completar la funcionalidad del Carrito.</p>
                                    
                                    <a class="button" href="https://laura-patricia-cruz-carrito-de-compra.netlify.app/" role="button" target="blank">Ver Proyecto</a>
                                    <!-- <input type="button" value="Leer más"> -->
                            </div>
                    </div>
                </div>
            </div> <!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/coffeeBlog.jpeg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Coffee Blog</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Coffee Blog</h2>
                                    <h5>Blog de café</h5>
                                    
                                    <p>Proyecto desarrollado con HTML5 para el maquetado de las distintas páginas, CSS3 para aplicar diferentes estilos en cada sección, y JAVASCRIPT para la funcionalidad del formulario.</p><br>
                                    <a class="button" href="https://laura-patricia-cruz-coffee-blog.netlify.app"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/disneyStore2.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Disney Store</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>Disney Store</h2>
                                <h5>Frontend Store</h5>
                                
                                <p>Proyecto desarrollado con HTML5 para el maquetado de las distintas páginas, CSS3 para aplicar estilos en cada sección, y JAVASCRIPT para la funcionalidad del formulario.</p><br>
                                <a class="button" href="https://main--laura-p-cruz-front-end-store.netlify.app/"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

        </div><!--container__card-->

</div>