<div class="row">
    <h1>Proyectos Realizados</h1>

    <div class="contenedor">
        <!-- DIV TITULO LEARNING ONLINE Y EXPLICACION -->
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Learning Online</h2> - <h4>Carrito de compras</h4>

            <p>Proyecto en el que utilicé HTML5 para el maquetado, CSS3 para crear los estilos de cada sección, y JAVASCRIPT para la funcionalidad del carrito.</p>
        </div>

        <!-- DIV IMAGEN LEARNING ONLINE-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://laura-patricia-cruz-carrito-de-compra.netlify.app/" target="blank">
                <img src="../../../assets/learningOnline.jpeg" alt="" class="img-fluid img-proyecto" >
            </a>
        </div>
    </div>
    
    <div class="contenedor">
        <!-- DIV TITULO COFFEEBLOG Y EXPLICACION -->
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Coffee Blog</h2> - <h4>Blog de Café</h4>

            <p>Proyecto en el que utilicé HTML5 para el maquetado, CSS3 para crear los estilos de cada página, y JAVASCRIPT para la funcionalidad del Formulario de Contacto</p>
        </div>

        <!-- DIV PARA IMAGEN COFFEEBLOG -->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://laura-patricia-cruz-coffee-blog.netlify.app/" target="blank">
                <img src="../../../assets/coffeeBlog.jpeg" alt="" class="img-fluid img-proyecto" >
            </a>
        </div>
    </div> 
    
    <div class="contenedor">
        <!-- DIV TITULO DISNEY STORE Y EXPLICACION -->
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Disney Store</h2> - <h4>Frontend Store</h4>

            <p>Proyecto en el que utilicé HTML5 para el maquetado, CSS3 para crear los estilos de cada sección</p>
        </div>

        <!-- DIV IMAGEN DISNEY STORE-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://main--laura-p-cruz-front-end-store.netlify.app/" target="blank">
                <img src="../../../assets/disneyStore1.jpeg" alt="" class="img-fluid img-proyecto" >
            </a>
        </div>
    </div>
    
    <div class="contenedor">
        <!-- DIV TITULO FREELANCER Y EXPLICACION -->
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Freelancer</h2> - <h4>Landing Page</h4>

            <p>Proyecto en el que utilicé HTML5 para el maquetado, CSS3 para crear los estilos de cada sección.</p>
        </div>

        <!-- DIV PARA IMAGEN DE PROYECTO -->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://laura-patricia-cruz-freelancer.netlify.app/" target="blank">
                <img src="../../../assets/freelancer1.jpg" alt="" class="img-fluid img-proyecto" >
            </a>
        </div>
    </div>    

    <div class="contenedor">
        <!-- DIV TITULO NATURE Y EXPLICACION -->
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Nature</h2> - <h4>Landing Page</h4>

            <p>Proyecto en el que utilicé HTML5 para el maquetado, CSS3 para crear los estilos de cada sección.</p>
        </div>

        <!-- DIV PARA IMAGEN DE PROYECTO -->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://beautiful-nature-laura-patricia-cruz.netlify.app/#img9" target="blank">
                <img src="../../../assets/nature1.jpeg" alt="" class="img-fluid img-proyecto" >
            </a>
        </div>
    </div>    
</div>
