
<div class="row">
    <h1>Proyectos Realizados</h1>

        <div class="container__card">
            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/learningOnline1.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Learning Online</h1>
                            </div>                    
                        </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Learning Online</h2>
                                    <h5>Carrito de Compras</h5>
                                    <hr>
                                    <p>Proyecto desarrollado con HTML5 para el maquetado, CSS3 para aplicar diferentes estilos en cada sección, y JAVASCRIPT para completar la funcionalidad del Carrito.</p>
                                    
                                    <a class="button" href="https://laura-patricia-cruz-carrito-de-compra.netlify.app/" role="button" target="blank">Ver Proyecto</a>
                                    <!-- <input type="button" value="Leer más"> -->
                            </div>
                    </div>
                </div>
            </div> <!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/coffeeBlog.jpeg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Coffee Blog</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Coffee Blog</h2>
                                    <h5>Blog de café</h5>
                                    
                                    <p>Proyecto desarrollado con HTML5 para el maquetado de las distintas páginas, CSS3 para aplicar diferentes estilos en cada sección, y JAVASCRIPT para la funcionalidad del formulario.</p><br>
                                    <a class="button" href="https://laura-patricia-cruz-coffee-blog.netlify.app"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/disneyStore2.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Disney Store</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>Disney Store</h2>
                                <h5>Frontend Store</h5>
                                
                                <p>Proyecto desarrollado con HTML5 para el maquetado de las distintas páginas, CSS3 para aplicar estilos en cada sección, y JAVASCRIPT para la funcionalidad del formulario.</p><br>
                                <a class="button" href="https://main--laura-p-cruz-front-end-store.netlify.app/"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/buscadorDeAutos.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Buscador de Autos</h1>
                            </div>                    
                        </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Buscador de Autos</h2>
                                    <hr>
                                    <p>Proyecto desarrollado con HTML5 para el maquetado, aplicando CSS3 para los estilos en cada sección, y JAVASCRIPT para realizar las correspondientes búsquedas.</p>
                                    
                                    <a class="button" href="https://laura-patricia-cruz-buscador-de-autos.netlify.app/" role="button" target="blank">Ver Proyecto</a>
                                    <!-- <input type="button" value="Leer más"> -->
                            </div>
                    </div>
                </div>
            </div> <!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/blogPerruno.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Blog Perruno</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                    <h2>Blog Perruno</h2>
                                    <h5>Blog</h5>
                                    
                                    <p>Proyecto desarrollado con HTML5 para el maquetado, y CSS3 avanzado para aplicar los movimientos giratorios y estilos de las tarjetas.</p><br>
                                    <a class="button" href="https://blog-perruno.netlify.app/"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/email.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>E-mail</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>E-mail</h2>
                                                                
                                <p>Proyecto desarrollado con HTML5 para el maquetado de las distintas páginas, CSS3 para aplicar estilos, y JAVASCRIPT para la funcionalidad del correo.</p><br>
                                <a class="button" href="https://e-mail-laura-patricia-cruz.netlify.app//"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->     
            
            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/beautyNature.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Beautiful Nature</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>Beautiful Nature</h2>
                                <h5>Exploring Tools</h5>
                                                                
                                <p>Proyecto desarrollado con HTML5 para el maquetado, y CSS3 para aplicar estilos y carrusel. Solo para vista desde PC</p><br>
                                <a class="button" href="https://beautiful-nature-laura-patricia-cruz.netlify.app/#img9"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father--> 
            
            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/reloj-digital.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Reloj Digital</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>Reloj Digital</h2>
                                <h5>Reloj</h5>
                                                                
                                <p>Se utilizó HTML5 para realizar la maqueta, CSS3 para aplicar estilos, y Javascript para la funcionalidad del reloj</p><br>
                                <a class="button" href="https://reloj-digital-laura-cruz.netlify.app/"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(../../../assets/darkCalculator.jpg)">
                        <div class="bg"><</div>
                            <div class="body__card_front">
                                    <h1>Calculadora</h1>
                            </div>                    
                    </div>
                    <div class="card__back">
                            <div class="body__card_back">
                                <h2>Calculadora</h2>
                                <h5>Dark and Light Calculator</h5>
                                                                
                                <p>Proyecto maquetado con HTML5, estilos aplicados con CSS3, y funcionalidad de botones y cambio de modo realizado con Javascript</p><br>
                                <a class="button" href="#"role="button" target="blank">Ver Proyecto</a>
                            </div>
                    </div>
                </div>
            </div><!--card__father-->


        </div><!--container__card-->

</div>