
    <div class="row">
        <h1>Educación</h1>
      <div class="col-md-4">
        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2023-Presente)</h3>
            </li>
            <h4>JavaScript Moderno</h4>
        </ul>
      </div>

      <div class="col-md-4 offset-md-3">
        <ul>
            <li>
                <h2>ISPC</h2> - <h3>(2022-Presente)</h3>
            </li>
            <h4>Certificación: Técnico en Desarrollo Web y Aplicaciones Digitales.</h4>
        </ul>
      </div>
        <!-- Obligar a las siguientes columnas a pasar a una nueva línea en el breakpoint md y hacia arriba -->
      <!-- <div class="w-100 d-none d-md-block"></div> -->
  
      <div class="col-md-4">
        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2023)</h3>
            </li>
            <h4>JavaScript Advanced</h4>
            <img src="../../../assets/js-advanced.jpeg" class="img-fluid" alt="">
        </ul>
      </div>

      <div class="col-md-4 offset-md-3">
        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2022)</h3>
            </li>
            <h4>JavaScript</h4>
            <img src="../../../assets/js.jpeg" class="img-fluid" alt="">
        </ul>
      </div>

      <div class="w-100 d-none d-md-block"></div>

      <div class="col-md-4">
        <ul>
            <li>
                <h2>Codeliber</h2> - <h3>(2022)</h3>
            </li>
            <h4>HTML5</h4>
            <img src="../../../assets/html.jpeg" class="img-fluid" alt="">
        </ul>
      </div>

      <div class="col-md-4 offset-md-3">
        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2022)</h3>
            </li>
            <h4>JavaScript</h4>
            <img src="../../../assets/js.jpeg" class="img-fluid" alt="">
        </ul>
      </div>
        <!-- Obligar a las siguientes columnas a pasar a una nueva línea en el breakpoint md y hacia arriba -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-md-4">
        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2021)</h3>
            </li>
            <h4>Desarrollo Web Completo con HTML5, CSS3, JS, AJAX, PHP</h4>
        </ul>
       
      </div>
      
      <div class="col-md-4 offset-md-3">
        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2021)</h3>
            </li>
            <h4>Wordpress</h4>
        </ul>
      </div>


    </div>
  