<div class="row">
    
    <h1>Educación</h1>
    <div class="col-lg-8"> 
        <ul>
            <li>
                <h2>ISPC</h2> - <h3>(2022-Presente)</h3>
            </li>
            <h4>Certificación: Técnico en Desarrollo Web y Aplicaciones Digitales.</h4>
        </ul>
        <br><hr>
        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2023-Presente)</h3>
            </li>
            <h4>JavaScript Moderno</h4>
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2023)</h3>
            </li>
            <h4>JavaScript Advanced</h4>
            <img src="../../../assets/js-advanced.jpeg" class="img-fluid" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2022)</h3>
            </li>
            <h4>JavaScript</h4>
            <img src="../../../assets/js.jpeg" class="img-fluid" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Programming Hub</h2> - <h3>(2022)</h3>
            </li>
            <h4>Typescript</h4>
            <img src="../../../assets/typescript.jpeg" class="img-fluid" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Codeliber</h2> - <h3>(2022)</h3>
            </li>
            <h4>HTML5</h4>
            <img src="../../../assets/html.jpeg" class="img-fluid" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2021)</h3>
            </li>
            <h4>Desarrollo Web Completo con HTML5, CSS3, JS, AJAX, PHP</h4>
        </ul>
        <br><hr>

        <ul>
            <li>
                <h2>Udemy</h2> - <h3>(2021)</h3>
            </li>
            <h4>Wordpress</h4>

        </ul>
        
    </div>
    
</div>
