<div>
    
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>ISPC</h1> - <h3>(2022-Presente)</h3>
            </li>
            <h2>Certificación: Técnico en Desarrollo Web y Aplicaciones Digitales.</h2>
        </ul>
        <br><hr>
        <ul>
            <li>
                <h1>Udemy</h1> - <h3>(2023-Presente)</h3>
            </li>
            <h2>JavaScript Moderno</h2>
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Programming Hub</h1> - <h3>(2023)</h3>
            </li>
            <h2>JavaScript Advanced</h2>
            <img src="../../../assets/js-advanced.jpeg" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Programming Hub</h1> - <h3>(2022)</h3>
            </li>
            <h2>JavaScript</h2>
            <img src="../../../assets/js.jpeg" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Programming Hub</h1> - <h3>(2022)</h3>
            </li>
            <h2>Typescript</h2>
            <img src="../../../assets/typescript.jpeg" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Codeliber</h1> - <h3>(2022)</h3>
            </li>
            <h2>HTML5</h2>
            <img src="../../../assets/html.jpeg" alt="">
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Udemy</h1> - <h3>(2021)</h3>
            </li>
            <h2>Desarrollo Web Completo con HTML5, CSS3, JS, AJAX, PHP</h2>
        </ul>
        <br><hr>

        <ul>
            <li>
                <h1>Udemy</h1> - <h3>(2021)</h3>
            </li>
            <h2>Wordpress</h2>

        </ul>
        <br><hr>
    </div>
    
</div>
