h1{
    text-align: center;
    padding-bottom:40px;
}
h2, h3{
    display:inline;
}
img{
    width: 400px;
}



.row{
    padding: 80px;
    padding-left: 50px;
    background-color:#0b0d1b ;
    color: #ffffff;
    letter-spacing: 2px;
}

ul {
    padding:30px;
}
