.row{
    background-color: #122231;
    color: #fefefe;
    
}

footer{
    background-color: #0b0d1b;
    padding:20px;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    text-align: center;
    /* box-shadow: 2px -2px 2px #0b0c0c; */
    box-shadow: 1px -1px 1px #ffffff;
    letter-spacing: 2px;
}

