.row{
    padding:30px;
    background-color:#122231;
    color:#E1DAD2; 
    letter-spacing: 1.8px;
    
}

h1{
    text-align: center;
    padding-bottom: 40px;
}


/* Ubico trabajo y tiempo en la misma linea */
h2, h3 {
    display: inline;
}

