<div class="row">
    <h1 class="titulo">Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Apex America</h2> - <h3>(2005-2012)</h3>
            </li>
            <h4>Representante Bilingüe de Atención al Cliente.</h4>
        </ul>
        <br>
        <hr>

        <ul>
            <li>
                <h2>Profesora de Inglés Particular</h2> - <h3>(2011-Presente)</h3>
            </li>
            <h4>Dictado de Clases particulares del idioma Inglés en domicilio propio.</h4>
        </ul>
        <br>
        <hr>

        <ul>
            <li>
                <h2>Santería Mi Ángel</h2> - <h3>(2019-Presente)</h3>
            </li>
            <h4>Atención al Cliente presencial. Ventas. Control de Stock. Manejo de Caja.</h4>
        </ul>
        <br><br>
    </div>
    
</div>

