.row{
    padding: 10px;
    background-color:#fefae0;
    /* color:#122231;  */
    color:#8a817c;
    letter-spacing: 1.8px;
    margin:0;
    width: 100%; 
    padding-bottom: 40px;
    font-size: 16px;
}

h1{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 30px;
}


/* Ubico trabajo y tiempo en la misma linea */
h2, h3 {
    display: inline;
}

p{
    font-size: 1.3em;
}
div{
    background: #e9edc9;
    /* border-color: #e9edc9; */
    margin:20px 70px;
    padding:40px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #838588;
    
}
