<div>
    <h1 class="titulo">Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Apex America</h1> - <h3>(2005-2012)</h3>
            </li>
            <p>Representante Bilingüe de Atención al Cliente.</p>
        </ul>

        <ul>
            <li>
                <h1>Profesora de Inglés Particular</h1> - <h3>(2011-Presente)</h3>
            </li>
            <p>Dictado de Clases particulares del idioma Inglés en domicilio propio.</p>
        </ul>

        <ul>
            <li>
                <h1>Santería Mi Ángel</h1> - <h3>(2019-Presente)</h3>
            </li>
            <p>Atención al Cliente presencial. Ventas. Control de Stock. Manejo de Caja.</p>
        </ul>
        <br><br>
    </div>
    
</div>

