<div class="row">
    <h1>Hard Skills</h1>
    <!-- HTML CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        
    ></circle-progress>
    <h6>HTML5</h6>
    </div>

    <!-- CSS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        
    ></circle-progress>
    <h6>CSS3</h6>
    </div>

    <!-- JS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>JAVASCRIPT</h6>
    </div>
<!-- TYPESCRIPT CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/typescript.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>TYPESCRIPT</h6>
    </div>

    <!-- WORDPRESS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="95"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/Wordpress.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>WORDPRESS</h6>
    </div>

    <!-- ANGULAR CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>ANGULAR</h6>
    </div>


    <!-- PHP CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/php.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="95"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>PHP</h6>
    </div>


    <!-- mySQL CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/mySQL.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="145"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>MySQL</h6>
    </div>

    <!-- SOFT SKILLS -->
        <h1 class="soft">Soft Skills</h1>

    <!-- INGLES CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="95"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Idioma Inglés</h6>
    </div>

    <!-- TRABAJO EN EQUIPO CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Trabajo en Equipo</h6>
    </div>

    <!-- COMPROMISO CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/compromiso.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <H6>Compromiso</H6>
    </div>

    <!-- COLABORACION CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/colaboracion.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Colaboración</h6>
    </div>

        <!-- RESOLUCIÓN DE PROBLEMAS CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/resolucionDeProblemas.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="150"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Resolución de Problemas</h6>
    </div>

        <!-- APRENDIZAJE CONTINUO CIRCULO DE PROGRESO-->   
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="100"
            [radius]="80"
            [backgroundColor]="'#E1DAD2'"
            [imageSrc]="'../assets/aprendizajeContinuo.png'"
            [showImage]="true"
            [imageHeight]="140"
            [imageWidth]="180"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#4A8ACE'"
            [innerStrokeColor]="'#A7ADBB '"
            [space]="3"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradientStopColor]="'#53a9ff'"
        ></circle-progress>
        <h6>Aprendizaje Constante</h6>
        </div>    

    <!-- LIDERAZGO CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/liderazgo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Liderazgo</h6>
    </div>  

    <!-- TRABAJO EN EQUIPO CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/adaptacion.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    <h6>Flexibilidad y Adaptación</h6>
    </div> 
</div>
