<div class="row">
    <h1>Hard Skills</h1>
   <!-- HTML CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        
    ></circle-progress>
    </div>

    <!-- CSS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        
    ></circle-progress>
    </div>

    <!-- JS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>
<!-- TYPESCRIPT CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/typescript.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

    <!-- WORDPRESS CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="95"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/Wordpress.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

    <!-- ANGULAR CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>


    <!-- PHP CIRCULO DE PROGRESO-->
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/php.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="95"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>


    <!-- mySQL CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/mySQL.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="145"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

    <!-- SOFT SKILLS -->
        <h1 class="soft">Soft Skills</h1>

    <!-- INGLES CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

    <!-- TRABAJO EN EQUIPO CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

    <!-- COMUNICACION CIRCULO DE PROGRESO-->   
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="100"
        [radius]="80"
        [backgroundColor]="'#E1DAD2'"
        [imageSrc]="'../assets/comunicacion.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#4A8ACE'"
        [innerStrokeColor]="'#A7ADBB '"
        [space]="3"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradientStopColor]="'#53a9ff'"
    ></circle-progress>
    </div>

        <!-- COLABORACION CIRCULO DE PROGRESO-->   
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="100"
            [radius]="80"
            [backgroundColor]="'#E1DAD2'"
            [imageSrc]="'../assets/colaboracion.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#4A8ACE'"
            [innerStrokeColor]="'#A7ADBB '"
            [space]="3"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradientStopColor]="'#53a9ff'"
        ></circle-progress>
        </div>
</div>
