.row{
    background-color: #fefae0;
    color:#d4a373;
    padding-left: 50px;
    margin:0;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
    font-size:16px;
}



.father-box {
    margin-top: 30px;
    transform: translate(-50%,-50);
    left:50%;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    
}

.container {
    width: 100%;
    padding:20px 30px 50px;
    background-color: #e9edc9;
    border: 2px solid #ccd5ae(0,0,0,0.1); 
    border-radius:10px;
    box-shadow: 5px 5px 10px #838588;
    color: #8a817c;
}

.container *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}

h1 {
    color: #8a817c;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing:2px;
    text-align: center;
    font-size: 2.5em ;
}
/* .skills:not(:last-child){
    margin-bottom: 30px;
} */

.details{
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 2px;
}

.menu {
    position:relative;
    border: 1px solid  #ccd5ae;
    border-radius: 20px;
}

.menu div {
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #ccd5ae;
    ;
}

/*animacion*/

#html-menu{
    animation: html-bar 2s forwards;
}

@keyframes html-bar {
    100%{
        width: 90%;
    }
}
/* ----------------------------------- */
#css-menu{
    animation: css-bar 2s forwards;
}

@keyframes css-bar {
    100%{
        width: 75%;
    }
}
/* -------------------------------------- */
#js-menu{
    animation: js-bar 2s forwards;
}

@keyframes js-bar {
    100%{
        width: 65%;
    }
}
/* -------------------------------------- */
#ts-menu{
    animation: ts-bar 2s forwards;
}

@keyframes ts-bar {
    100%{
        width: 60%;
    }
}
/* -------------------------------------- */
#angular-menu{
    animation: angular-bar 2s forwards;
}

@keyframes angular-bar {
    100%{
        width: 65%;
    }
}
/* -------------------------------------- */
#nodeJs-menu{
    animation: nodeJs-bar 2s forwards;
}

@keyframes nodeJs-bar {
    100%{
        width: 65%;
    }
}
/* -------------------------------------- */
#sql-menu{
    animation: sql-bar 2s forwards;
}

@keyframes sql-bar {
    100%{
        width: 75%;
    }
}
/* -------------------------------------- */
#wp-menu{
    animation: wp-bar 2s forwards;
}

@keyframes wp-bar {
    100%{
        width: 85%;
    }
}
/* SOFT SKILLS BARS----------------------------------- */
#ingles-menu{
    animation: ingles-bar 2s forwards;
}

@keyframes ingles-bar {
    100%{
        width: 90%;
    }
}
/* ----------------------------------- */
#tee-menu{
    animation: tee-bar 2s forwards;
}

@keyframes tee-bar {
    100%{
        width: 100%;
    }
}
/* -------------------------------------- */
#comprom-menu{
    animation: comprom-bar 2s forwards;
}

@keyframes comprom-bar {
    100%{
        width: 100%;
    }
}
/* -------------------------------------- */
#colab-menu{
    animation: colab-bar 2s forwards;
}

@keyframes colab-bar {
    100%{
        width: 100%;
    }
}
/* -------------------------------------- */
#resolProb-menu{
    animation: resolProb-bar 2s forwards;
}

@keyframes resolProb-bar {
    100%{
        width: 85%;
    }
}
/* -------------------------------------- */
#apren-menu{
    animation: apren-bar 2s forwards;
}

@keyframes apren-bar {
    100%{
        width: 100%;
    }
}
/* -------------------------------------- */
#lider-menu{
    animation: lider-bar 2s forwards;
}

@keyframes lider-bar {
    100%{
        width: 75%;
    }
}
/* -------------------------------------- */
#fya-menu{
    animation:fya-bar 2s forwards;
}

@keyframes fya-bar {
    100%{
        width: 95%;
    }
}