<div class="row justify-content-around ">
    <h1>Hard & Soft Skills</h1>
    <div class="father-box col-sm-7 col-md-6 col-lg-5 ">
        <!-- <h2>HARD SKILLS</h2> -->
        <div class="container">
            <div class="Skills">
                <div class="details">
                    <span>HTML5</span>
                    <span>90%</span>
                </div>

                <div class="menu">
                    <div id="html-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>CSS3</span>
                    <span>75%</span>
                </div>

                <div class="menu">
                    <div id="css-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>JAVASCRIPT</span>
                    <span>65%</span>
                </div>

                <div class="menu">
                    <div id="js-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>TYPESCRIPT</span>
                    <span>60%</span>
                </div>

                <div class="menu">
                    <div id="ts-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>ANGULAR</span>
                    <span>65%</span>
                </div>

                <div class="menu">
                    <div id="angular-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>NODE-JS</span>
                    <span>65%</span>
                </div>

                <div class="menu">
                    <div id="nodeJs-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>SQL</span>
                    <span>75%</span>
                </div>

                <div class="menu">
                    <div id="sql-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>WORDPRESS</span>
                    <span>85%</span>
                </div>

                <div class="menu">
                    <div id="wp-menu"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- SOFT SKILLS -->
    
    <div class="father-box  col-sm-7 col-md-6 col-lg-5">
        <!-- <h2>SOFT SKILLS</h2> -->
        <div class="container">
            <div class="Skills">
                <div class="details">
                    <span>IDIOMA INGLÉS</span>
                    <span>90%</span>
                </div>

                <div class="menu">
                    <div id="ingles-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>TRABAJO EN EQUIPO</span>
                    <span>100%</span>
                </div>

                <div class="menu">
                    <div id="tee-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>COMPROMISO</span>
                    <span>100%</span>
                </div>

                <div class="menu">
                    <div id="comprom-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>COLABORACIÓN</span>
                    <span>100%</span>
                </div>

                <div class="menu">
                    <div id="colab-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>RESOLUCIÓN DE PROBLEMAS</span>
                    <span>85%</span>
                </div>

                <div class="menu">
                    <div id="resolProb-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>APRENDIZAJE CONSTANTE</span>
                    <span>100%</span>
                </div>

                <div class="menu">
                    <div id="apren-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>LIDERAZGO</span>
                    <span>75%</span>
                </div>

                <div class="menu">
                    <div id="lider-menu"></div>
                </div>
            </div>

            <div class="Skills">
                <div class="details">
                    <span>FLEXIBILIDAD Y ADAPTACION</span>
                    <span>95%</span>
                </div>

                <div class="menu">
                    <div id="fya-menu"></div>
                </div>
            </div>
        </div>
    </div>