.row{
    /* background-color: #f7f2f4; */
    background-color:#122231;
    color:#E1DAD2;
    /* text-align: center; */
    padding-top:40px;
}

h1{
    text-align: center;
    padding-bottom: 40px;
}

.soft{
    padding-top:40px;
}

