<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/laliPng.png" alt="foto-perfil" class="image-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Laura Cruz</p>
            <p>Full Stack Developer</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odit alias consequuntur illum nam minima, animi sunt nemo mollitia, illo repudiandae aspernatur. Est nesciunt quia totam unde tempora sequi? Deserunt?</p>
                
            </span>
        </div>
</div>


