.row{
    padding:20px;
}
div{
    background-color: #122231;
    color:#E1DAD2;
    text-align: center;
}

/*PROFILE PICTURE STYLES*/
@media(min-width: 576px) {
    #foto-perfil{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left:3%;
        top:600px;
    } 
}

@media(min-width: 1024px) {
    #foto-perfil{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left:3%;
        top:500px;
    } 
}

@media(max-width: 575px) {
    #foto-perfil{
        position:absolute;
        width:35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left:33%;
        top:560px;
    } 
}

/*Name styles*/
#nombre{
    font-weight: bold;
    margin-top: 40px;
    /* margin-left: 10px; */
}