<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/profilePic.jpeg" alt="foto-perfil" class="image-fluid" id="foto-perfil">
            <br>
            <p align="center" id="nombre">Laura Cruz</p>
            <p align="center">Full Stack Developer</p>
        </div>
        <!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

        </div> -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1 align="center" >Acerca de mí</h1>
                <p>Mi nombre es Laura Cruz, soy Desarrolladora Web Full Stack Junior, y ofrezco mis servicios desde Córdoba, Argentina.</p>
                <p>Comencé este camino, motivada por las ganas de ayudar a pequeñas empresas, autónomos y cualquier persona que necesite tener presencia online y no pueda invertir grandes cantidades de dinero en ello.
                </p>
                <p>Me caracterizo por mi honestidad, profesionalidad y responsabilidad a la hora de encarar un nuevo proyecto, garantizando así la más alta calidad y efectividad en mis trabajos.</p>
                <p>Además de enfocarme en el diseño y desarrollo web, mi objetivo es ofrecer un sitio moderno, intuitivo y fácil de manejar</p>
                <p>Amo lo que hago, y entrego lo mejor de mi en cada proyecto.<p>               
            </span>
        </div>
</div>



