.row{
    padding:80px 40px;
    padding-bottom: 80px;
    letter-spacing: 1.8px;
    font-size: 19px;
    
}
div{
    background-color: #122231;
    color:#FFFFFF;
    text-align: justify;
}

h1{
    padding-bottom: 40px;
}

/*PROFILE PICTURE STYLES*/
@media(min-width: 576px) {
    #foto-perfil{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 5px rgb(10, 10, 10);
        left:3%;
        top:600px;
    } 
}

@media(min-width: 1024px) {
    #foto-perfil{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 5px rgb(10, 10, 10);
        left:3%;
        top:500px;
    } 
}

@media(max-width: 575px) {
    #foto-perfil{
        position:absolute;
        width:35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(10, 10, 10);
        left:33%;
        top:560px;
    } 
}

@media(max-width: 360px) {
    #foto-perfil{
        position:absolute;
        width:35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(10, 10, 10);
        left:33%;
        top:619px;
    } 
}
/*Name styles*/
#nombre{
    font-weight: bold;
    margin-top: 40px;
    /* margin-left: 10px; */
}