.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    width:150px;
}

.redes{
    margin-right: 0.5em;
}

img{
    width: 30px;
}

/* VISTA CELULAR */

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display:flex;
        flex-direction:row;
        align-items:center;
    }
    .redes img{
        margin:0.2em;
    }

    }
